# MongoDB
MONGO_INITDB_DATABASE=vet_prescription

# API
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__MongoDB=mongodb://mongo:27017
MongoDB__DatabaseName=vet_prescription
Cors__AllowedOrigin=http://localhost:5173
